/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

/* Universal Styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-color-primery: #000000;
  --font-color-secondary: rgb(88, 88, 88);
  --background-primary: #fff;
  --backgroung-secondary: #eeebfe;
  --background-tertiary: #e2dbfd;
  --background-quaternary: #fef7f1;
  --tile-color1: #d8f2ff;
  --tile-color2: #ffefd5;

}

body {
  font-family: "Kanit", sans-serif;
  font-size: 1.2rem;
  overflow-x: hidden;
}

/* Navbar Component Styling */
.navbar {
  width: 100%;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  background-color: var(--background-primary);
}

.navbar_right {
  display: flex;
  align-items: center;
  gap: 4rem;
  list-style: none;
}

.navbar_left-logo img {
  width: 4rem;
}

.download_btn {
  all: unset;
  padding: 0.9rem 2.5rem;
  background-color: var(--font-color-primery);
  color: var(--background-primary);
  border: none;
  border-radius: 5rem;
  cursor: pointer;
}

/* Main Section Styling */
.sec-background {
  margin: 1rem 5rem;
  border-radius: 2rem;
  background-color: var(--backgroung-secondary);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

#leaf1 {
  position: absolute;
  width: 1%;
  top: -5%;
  left: 10%;
  transform: rotate(-0deg);
}
#evileye {
  position: absolute;
  width: 3%;
  top: 12%;
  left: 26%;
}
#leaf2 {
  position: absolute;
  width: 1%;
  top: 7%;
  left: 32%;
  transform: rotate(135deg);
}
#darkElipse1 {
  position: absolute;
  width: 2%;
  top: 7%;
  left: 36%;
}

#lightElipse2 {
  position: absolute;
  width: 2%;
  top: 45%;
  left: -1%;
}

#darkElipse2 {
  position: absolute;
  bottom: -4%;
  left: 15%;
}

.random-back {
  position: absolute;
}

.mainSec_left {
  padding: 2rem 1rem;
  width: 50%;
}

.mainSec_left h1 {
  font-size: 5.5rem;
  line-height: 1.1;
  font-weight: 700;
  color: var(--font-color-primery);
}

.mainSec_left-icons {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-top: 7vh;
}

.mainSec_left-icons img {
  width: 11rem;
}

.mainSec_left-icons div img {
  width: 1.5rem;
}

.mainSec_right {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 75vh;
  height: 75vh;
  margin: 2rem;
}

.container{
  border-radius: 50%;
  border: 4px dashed var(--background-primary);
  position: absolute;
  width: 100%;
  height: 100%;position: relative;
}

.floating-img {
  position: absolute;
}

#one {
  width: 11%;
  transform: rotate(35deg);
  top: 10%;
  left: 10%;
}
#two {
  width: 5%;
  top: -2%;
  left: 52%;
  transform: rotate(90deg);
}
#three {
  width: 11%;
  transform: rotate(15deg);
  top: 20%;
  right: 1%;
}
#four {
  width: 5%;
  bottom: 25%;
  right: 2%;
  transform: rotate(-5deg);
}
#five {
  width: 11%;
  transform: rotate(-25deg);
  bottom: -2%;
  right: 65%;
}
#six {
  width: 5%;
  bottom: 22%;
  left: 4%;
}


#circle-layer2 {
  background-color: var(--background-tertiary);
  width: 70%;
  height: 70%;
  border-radius: 50%;
}

.circles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#circle-img {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: right;
  left: 40%;
}

#popup {
  display: flex;
  position: absolute;
  justify-content: left !important;
  width: 50%;
  right: 55%;
}


/* Description Section Styling */
.descSec {
  margin: 6rem 6rem;
  display: flex;
  justify-content: space-evenly;
}

.sections{
  width: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.sections p{
  color: var(--font-color-secondary);
}


/* Scenarios Section Styling */
.scenarioSec{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 8rem 0;
  /* justify-content: space-evenly; */
}

.title{
  margin: 0rem 6rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.title img{
  width: 4rem;
  margin-right: 1rem;
  transform: rotate(-15deg);
}

.title h1{
  font-size: 3rem;
}

.scenarios{
  margin: 4rem 1rem;
  width: 100%;
  display: flex;
  gap: 2rem;
  overflow-x: visible;
}

.scene{
  width: 25vw;
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 30px 25px;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-grow: 0;
  flex-shrink: 0;
}

#tilecolor1{
  background-color: var(--tile-color1);
}

#tilecolor2{
  background-color: var(--tile-color2);
}

#tilecolor3{
  background-color: var(--backgroung-secondary);
}

#speicaltilecolor{
  background-color: #6341ef;
  color: white;
  transform: rotate(-8deg);
}

/* App Inro Section Styling */
.appIntroSec{
  margin: 6rem 6rem;
  display: flex;
  background-color: var(--background-quaternary);
  border-radius: 2rem;
  position: relative;
  flex-direction: column;
}
.elementSec{
  width: 100%;
  padding: 2rem;
  display: flex;align-items: center;
  justify-content: right;
  position: relative;
}

#flower1{
  position: absolute;
  width: 3%;
  top: -45%;
  right: 5%;
}

#leaf3{
  position: absolute;
  width: 0.5%;
  top: 75%;
  right: 10%;
  transform: rotate(135deg);
} 

.intro{
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
}

.intro_sec{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
  position: relative;
}

.intro_left{
  width: 50%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.intro_left_div1{
  position: absolute;
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  
}
.intro_left_div2{
  background-color: var(--background-primary);
  position: absolute;
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.intro_left_div1 img{
  position: absolute;
  width: 15vh;
}
#crownDiv{
  position: absolute;
  width: 15vh;
  top: -10%;
  left: 26%;

}
#lightElipse3{
  position: absolute;
  width: 15%;
  top: 10%;
  left: 10%;
  opacity: 0.4;
  filter: blur(5px);
}
.intro_right{
  width: 50%;
  padding: 2rem 6rem;
  height: 100%;
  align-items: center;
  font-size: 1.5rem;
}

/* Suggestions section styling */
.suggestions{
  margin: 6rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
} 

/* OPinion Section styling */
.opinion_sec{
  margin: 6rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--tile-color1);
  border-radius: 2rem;
  padding: 4rem ;
  /* width: 100%; */
}

.opinion_sec h1{
  font-size: 3rem;
  margin-bottom: 1rem;
}
.opinion_sec p{
  color: var(--font-color-secondary);
}

.opinion_img{
  width: 80%;
  display: flex;
  padding-bottom: 0;
  margin-bottom:0 ;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
}
.opinion_img img{
  width: 8rem;
  bottom: -22%;
  display: flex;
}

#content{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 2rem; */
}

#content p{
  width: 20%;
  color: var(--font-color-secondary);
}

.opinion_img div{
  width: 25%;
  border-bottom: 2px dashed darkgoldenrod;
}

#graph_sec{
  display: flex;
  margin: 3rem 0 0 0;
  justify-content: center;
  background-color: var(--background-primary);
  align-items: center;
  width: 40%;
  border-radius: 1rem;
  height: 18vh;
}

#graph_sec img{
  width: 100%;
}

.lists{
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;
  gap: 15px;
  margin: 3rem 0 ;
}

.suggestionList{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.suggestionList p{
  color: var(--font-color-secondary);
}


/* Open Section Styling */
.openSec{
  margin: 16rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 2rem;
  padding: 4rem ;
  gap: 10px;
}

.openSec h1{
  font-size: 3rem;
  margin-bottom: 1rem;
}

.openSec p{
  color: var(--font-color-secondary);
  font-size: 1.6rem;
  max-width: 60%;
}

.openSec h5{
  color: var(--font-color-primery);
  font-size: 1.6rem;
}